$color-primary-0: #720272;	// Main Primary color */
$color-primary-1: #982A98;
$color-primary-2: #8B0C8B;
$color-primary-3: #5C005C;
$color-primary-4: #400040;

$color-complement-0: #8DA903;	// Main Complement color */
$color-complement-1: #C6E33F;
$color-complement-2: #AECE12;
$color-complement-3: #718800;
$color-complement-4: #4E5E00;



// As RGBa codes */

$rgba-primary-0: rgba(114,  2,114,1);	// Main Primary color */
$rgba-primary-1: rgba(152, 42,152,1);
$rgba-primary-2: rgba(139, 12,139,1);
$rgba-primary-3: rgba( 92,  0, 92,1);
$rgba-primary-4: rgba( 64,  0, 64,1);

$rgba-complement-0: rgba(141,169,  3,1);	// Main Complement color */
$rgba-complement-1: rgba(198,227, 63,1);
$rgba-complement-2: rgba(174,206, 18,1);
$rgba-complement-3: rgba(113,136,  0,1);
$rgba-complement-4: rgba( 78, 94,  0,1);

@mixin transition {
  transition: all 300ms ease;
}

// Media query mixins
@mixin xs {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}