@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: radial-gradient( rgb(4, 109, 4), #720272, rgb(0, 0, 0));
  height: 100vh;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 2rem 1rem 0;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: .6rem 0 0; 
  height: 180px;
  color: rgb(196, 196, 196);

  p {
    font-size: 1.8rem;
    text-shadow: 0 2px 2px #000;
  }
}

.header-section__title {
  font-family: 'Notable', sans-serif;
  letter-spacing: .1rem;
  text-shadow: 0 4px 2px #000;
  text-align: center;
  font-size: 2.6rem;
  margin: 1rem 0 .7rem;
}

p.clock__digital {
  font-weight: bold;
  color: rgb(0, 140, 255);
  text-shadow: 0 2px 2px #000;
  background: rgba(0, 0, 0, .6);
  border-radius: .4rem;
  border: 1px solid #000;
  box-shadow: 0 0 10px #000;
  font-size: 2.7rem;
  padding: .4rem .6rem;
  margin: 1rem .6rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0;
}

.advice {
  width: 100%;
  height: 400px;
  padding: 1rem;
  background-color: #fff;
  border-radius: .6rem;
  box-shadow: 0 0 20px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem;
  width: 280px;
  font-size: 2.4rem;
}

.content__image {
  height: auto;
  width: 300px;
}

@import 'media-queries';